<p>
  <strong>Album:</strong>
  <%= @album.album_name %>
</p>
 
<p>
  <strong>Song:</strong>
  <%= @album.song_name %>
</p> 

<%= link_to 'Back', albums_path %>
| <%= link_to 'Edit', edit_album_path(@album) %>