<!DOCTYPE html>
<html>
<head>
  <title>IslandRecord</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>

<img src="http://cdn.gifbay.com/2013/10/vira_solovey-89271.gif"><img src="http://media.giphy.com/media/oyr3pswQ8B2Sc/giphy.gif">

</body>
</html>
